<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="org.openshouter.debug.DebugReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.openshouter.debug.RING" />
                <action android:name="org.openshouter.debug.IDLE" />
                <action android:name="org.openshouter.debug.INTERRUPT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
